.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.techs {
  color: #a6a6a6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techs-container {
  display: flex;
  gap: 40px
}

.contact-info {
  color: white;
}

.contact-info p {
  color: white;
  width: 50%;
  margin: 0 auto 0.5rem auto;
  font-size: 1.3rem;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.contact input {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.contact label {
  color: #177878;
  margin-top: 10px;
}

.contact textarea {
  margin-top: 10px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.footer {
  color: #FFBB00;
  display: flex;
  border-top: 1px solid #a6a6a6;
  margin: 8px 0;
  padding: 7px 4px;
}

.footer div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


@media only screen and (max-width: 600px) {
  .App {
    margin: 0 !important;
    padding: 0 !important;
  }
  #about, #projects {
    margin: 0;
  }
  #about p {
    width: 100%;
  }
  .techs-container {
    display: flex !important;
    align-items: flex-start;
    row-gap: 10px;
    padding-left: 10px;
  }
  .projects-container {
    display: grid !important;
  }
  .contact-info p {
    width: 90%;
  }
  .form-container input {
    margin: 0 auto;
    width: 80% !important;
  }
  .form-container textarea {
    resize: none;
    width: 80% !important;

  }
  .form-container button {
    width: 60% !important;
  }
}

@media (max-width: 768px) {
  img {
    display: none;
  }
}

