.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.techs {
  color: #a6a6a6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techs-container {
  display: flex;

  gap: 40px
}

@media only screen and (max-width: 600px) {
  .techs-container {
    display: flex !important;
    align-items: flex-start;
    row-gap: 10px;
    padding-left: 10px;
  }
  .projects-container {
    display: grid !important;
  }
}

@media (max-width: 768px) {
  img {
    display: none;
  }
}
